[submodule "third_party/upstream/microui"]
	path = third_party/upstream/microui
	url = https://github.com/rxi/microui.git
[submodule "third_party/upstream/Waveshare-ESP32-components"]
	path = third_party/upstream/Waveshare-ESP32-components
	url = https://github.com/waveshareteam/Waveshare-ESP32-components.git
[submodule "third_party/upstream/meshoptimizer"]
	path = third_party/upstream/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
